body {
    background: url("IMAGE/BACKGROUND.avif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
}

.main {
    width: 30vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main form {
    width: 320px;
    border: 1px solid;
    padding: 12px 18px;
    border-radius: 3px;
    box-shadow: 5px 5px 15px 2px;
}

.main form div h2 {
    font-family: 'Oswald', sans-serif;
}

.form-group .error {
    font-size: 12px;
    color: rgb(238, 24, 24);
    margin-top: 4px;
}
.form-group .err-medium{
    color: rgb(6, 122, 255);
}
.form-group .err-strong{
    color: green;
}
.form-group label{
    margin-bottom: 0;

}
.btn-size {
    width: 100%;
}

.form-group>a {
    font-size: 13px;
}



@media only screen and (min-width: 900px) {
    .main {
        width: 500px;
    }
}

@media only screen and (max-width: 900px) {
    .main {
        width: 70vw;

    }
}

@media only screen and (max-width: 600px) {
    .main {
        width: 95vw;
    }
}